{% extends 'partners/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
    <h1 style="font-size: 48px; font-weight: 700; color: #4b5563;">
        {{ content }}
    </h1>
    <p style="font-size: 18px; color: #6b7280; max-width: 600px; text-align: center; margin-top: 20px;">
        {{ text_on_page }}
    </p>
</div>
{% endblock %}
