{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Партнеры{% endblock %}</title>

    {# сюда можно подключать общие стили #}
    {% block extra_css %}{% endblock %}
</head>
<body>

    {# шапка сайта (если понадобится) #}
    {% block header %}
    {% endblock %}

    {# основной контент страницы #}
    <main>
        {% block content %}
        {% endblock %}
    </main>

    {# подвал сайта (если понадобится) #}
    {% block footer %}
    {% endblock %}

    {# общие скрипты #}
    {% block extra_js %}{% endblock %}
</body>
</html>
