# Django
DJANGO_SECRET_KEY=django-insecure-change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Django DB (app/settings.py)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=general
DB_USER=partners
DB_PASSWORD=123
DB_HOST=localhost
DB_PORT=5432

# Kafka/Telegram scripts (configi/config.py)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=general
POSTGRES_USER=partners
POSTGRES_PASSWORD=123
KAFKA_BOOTSTRAP_SERVERS=localhost:29092
KAFKA_TOPIC=wal_listener.db-changes
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
